#body
{
    background-image: linear-gradient(to bottom right, rgb(255, 182, 193), aqua);
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    font-family: arial;
    display: flex;
    justify-content: center;
    font-family: Arial;
}
#wrapper
{
    display: flex;
    justify-content: center;
    width: 350px;
    height: 225px;
    padding: 10px;
    align-items: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    margin-top: 25vh;
    box-shadow: 0 0 20px #000000;
}
#name
{
    margin-bottom: 10px;
}
#email
{
    margin-bottom: 10px;
}
#submit
{
    background-color: #005da6;
    color: white;
    width: 108px;
    height: 32px;
    border: none;
}